# Kythe artifacts
*.kindex
*.ldb
*.log
CURRENT
LOCK
LOG
MANIFEST-*

# Editor files
*~
.#*
\#*#
.DS_Store

# Binary files
*.class
*.deb

# Build artifacts
/bazel-*
/doxygen-out

# Symlinks
third_party/libmemcached
third_party/openssl
third_party/ossp-uuid
tools/node
