# Kythe artifacts
*.kindex
*.ldb
*.log
CURRENT
LOCK
LOG
MANIFEST-*

# Editor files
*~
.#*
\#*#
.DS_Store
.vscode
.clangd
.cache

# Binary files
*.class
*.deb

# Build artifacts
/bazel-*
/doxygen-out
/node_modules

# Symlinks
third_party/libmemcached
third_party/openssl
third_party/ossp-uuid
tools/node

# Kythe website artifacts
kythe/web/site/.bundle/
kythe/web/site/_vendor/

# User bazelrc overrides
/user.bazelrc

# Ignore Rust build artifacts
kythe/rust/**/target
