new_local_repository(
    name = "local-goroot",
    build_file = "tools/go/goroot.BUILD",
    path = "/usr/local/go",
)

bind(
    name = "goroot",
    actual = "@local-goroot//:default-goroot",
)

bind(
    name = "gotool",
    actual = "@local-goroot//:gotool",
)

bind(
    name = "go_package_prefix",
    actual = "//:go_package_prefix",
)

